[user]
  name = Eric Fung
  email = eskfung@users.noreply.github.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMesldDQ23x8mKz6Lvv1aNIlmPKhg7xKRMxdkyhJNJ9p
[color]
  ui = true
[alias]
  br = branch
  ci = commit
  co = checkout
  st = status
  amend = commit --amend
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  details = log -n1 -p --format=fuller
  dump = cat-file -p
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
  searchlogs = !git log --oneline | grep
  shove = push -u origin HEAD --no-verify
  today = log --stat --since=\"1 Day Ago\" --graph --pretty=oneline --abbrev-commit --date=relative
  type = cat-file -t
  unstage = reset HEAD
[core]
  autocrlf = input
  editor = vim
  excludesfile = /Users/efung/.gitignore_global
  pager = delta
  safecrlf = false
[push]
  default = simple
  followTags = true
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[commit]
  gpgsign = true
[diff]
  colorMoved = default
  compactionHeuristic = true
  noprefix = true
[init]
  defaultBranch = main
[pull]
  rebase = true
[fetch]
  prune = true
[rebase]
  autoStash = true
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[delta]            # https://github.com/dandavison/delta
  navigate = true  # use n and N to move between diff sections
  light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
